<form [formGroup]="formData" (ngSubmit)="submit()">
  <div>
    <h1 class="mat-display-2">Add Product</h1>
    <button mat-raised-button type="submit" [disabled]="!formData.valid"><mat-icon>save</mat-icon>Add</button>
    <button mat-raised-button (click)="cancel()"><mat-icon>cancel</mat-icon>Cancel</button>
  </div>

  <table class="clearfix">
    <tr>
      <th>Name:</th>
      <mat-form-field appearance="fill">
        <input matInput type="text" name="name" formControlName="name" />
        <mat-error *ngIf="name?.errors?.minlength" class="errorMessage"
          >Name must be at least 3 characters long</mat-error
        >
      </mat-form-field>
    </tr>
    <tr>
      <th>Category:</th>
      <mat-form-field appearance="fill">
        <input matInput type="text" name="category" formControlName="category" />
        <mat-error *ngIf="category?.errors?.minlength" class="errorMessage"
          >Category must be at least 3 characters long.</mat-error
        >
      </mat-form-field>
    </tr>
    <tr>
      <th>Price:</th>
      <mat-form-field appearance="fill">
        <input matInput type="number" name="price" formControlName="price" />
        <mat-error *ngIf="price?.errors?.pattern" class="errorMessage">Price must be a valid decimal number</mat-error>
      </mat-form-field>
    </tr>
    <tr>
      <th>Description:</th>
      <mat-form-field appearance="fill">
        <textarea matInput cols="60" rows="4" name="description" formControlName="description"></textarea>
      </mat-form-field>
    </tr>
  </table>
</form>
