h1 {
  float: left;
  width: 50%;
  color: rgb(52, 59, 48);
}

button {
  font-size: large;
  border-radius: 5%;
  color: rgb(52, 59, 48);
  float: left;
  padding: 1% 2%;
  margin-top: 2%;
  margin-left: 20px;
}

table {
  margin-left: 5%;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: auto;
}

tr {
  width: 100%;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 1em;
  width: 20%;
}

.mat-form-field {
  width: 100%;
  margin-left: 2%;
}

.clearfix {
  clear: both;
  margin: 0 10%;
}

.emptyString {
  float: left;
  font-size: 1.2em;
  margin-left: 6%;
  clear: both;
}

.mat-error {
  font-size: 1em;
  text-align: left;
}

.mat-icon {
  margin-right: 10%;
}

.mat-display-2 {
  margin-left: -5%;
  margin-top: 3%;
  margin-right: 25%;
}
