h1 {
  width: 20%;
  color: rgb(52, 59, 48);
}

button {
  font-size: large;
  border-radius: 5%;
  color: rgb(52, 59, 48);
  float: right;
  padding: 1% 2%;
  margin-top: 2%;
  margin-right: 15%;
}

table {
  margin-left: 5%;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: auto;
  width: 100%;
}

.mat-display-2 {
  margin: 3% 5% 3% 7%;
  font-weight: bold;
}

.mat-header-cell {
  font-weight: bold;
  font-size: large;
  color: white;
}

.mat-header-row {
  background: #8ba48a;
}

.clearfix {
  clear: both;
  margin: 0 10%;
}

.addProduct {
  clear: both;
}

.detailsCell {
  text-align: center;
  font-size: larger;
}
