<div>
  <h1>Product Details</h1>
  <button (click)="addToCart(product)">Add to Cart</button>
  <button [disabled]="!admin" (click)="edit()" class="editAndDeleteButton">Edit</button>
  <button [disabled]="!admin" (click)="delete()" class="editAndDeleteButton">Delete</button>
</div>
<table *ngIf="!deleted; else itemDeleted" class="clearfix">
  <tr>
    <th>Name:</th>
    <td>{{ product?.name }}</td>
  </tr>
  <tr>
    <th>Category:</th>
    <td>{{ product?.category }}</td>
  </tr>
  <tr>
    <th>Price:</th>
    <td>{{ product?.price | currency }}</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{ product?.description }}</td>
  </tr>
</table>
<img src="{{ product?.image }}" class="productImage" />
<ng-template #itemDeleted>
  <p class="emptyString">This item got deleted</p>
</ng-template>
