h1 {
  float: left;
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 59, 48);
  margin-left: -35%;
  margin-top: 3%;
  margin-right: 30%;
}

button {
  font-size: large;
  border-radius: 5%;
  color: rgb(52, 59, 48);
  float: left;
  padding: 1%;
  margin-top: 2%;
}

table {
  display: table;
  margin-left: 5%;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: auto;
}

.clearfix {
  clear: both;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 1em;
}

td {
  text-align: left;
  padding-left: 5%;
  width: 100%;
}
