h1 {
  float: left;
  width: 50%;
  color: rgb(52, 59, 48);
}

button {
  font-size: large;
  border-radius: 5%;
  color: rgb(52, 59, 48);
  float: left;
  padding: 1%;
  margin-top: 2%;
}

p {
  padding-bottom: 2%;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.clearfix {
  clear: both;
}

.mat-display-2 {
  margin-left: -5%;
  margin-top: 3%;
  margin-right: 25%;
}

.card {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  height: 350px;
}

.editAndDeleteButton {
  margin-left: 20px;
}

.emptyString {
  float: left;
  font-size: 1.2em;
  margin-left: 6%;
  clear: both;
}

.productImage {
  float: right;
  margin-right: 8%;
  width: 320px;
}

.detailsContent {
  text-align: left;
  font-size: large;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 5%;
}

.description {
  float: right;
  width: 42%;
  margin-left: 0%;
}
