h1 {
  float: left;
  width: 50%;
  color: rgb(52, 59, 48);
}

button {
  font-size: large;
  border-radius: 5%;
  color: rgb(52, 59, 48);
  float: left;
  padding: 1%;
  margin-top: 2%;
}

table {
  margin-left: 5%;
  display: block;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: auto;
  width: 100%;
}

.mat-display-2 {
  margin: 3% 25% 0 -5%;
}

.clearfix {
  clear: both;
  margin: 0 10%;
}

.message {
  float: left;
  font-size: 1.2em;
  margin-left: 6%;
  clear: both;
}

.error {
  color: red;
  font-size: 1.4em;
  font-weight: bold;
}

.success {
  color: rgb(72, 116, 47);
  font-size: 1.4em;
  font-weight: bold;
}
