td {
  padding: 20px 100px 20px 60px;
  text-align: left;
  background-color: white;
  color: #506e69;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #a3c0a2;
  margin-left: 25%;
  padding: 0 20px;
  border-radius: 5%;
  border: #bde4c3;
  height: 2em;
  color: white;
  font-weight: bolder;
}
