.outer {
  border-bottom: black;
  border-width: thick;
  background-color: #718870;
  color: white;
  height: 3cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  float: left;
  margin-left: 5%;
  padding-top: 1%;
  font-size: 3em;
}

.inner {
  padding: 4%;
  padding-top: 5%;
  margin-left: 50%;
}

a {
  padding-left: 3%;
  padding-right: 3%;
  float: left;
  font-size: 1.2em;
  text-decoration: none;
}

a:visited {
  color: wheat;
}

a:link {
  color: white;
}
